body{
background-color:#000;
}
#gameArea{
    background-color:#fff;
    width:500px;
    height:500px;
    margin:auto;
    position:relative;
}
#player{
    width:40px; 
    height:40px; 
    background-color:red;
    position:absolute;
    bottom:100px; 
}